<div class="container">
  <h5 class="display-5 text-center mb-4">Sign in to App</h5>
  <form [formGroup]="data">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" name="username" id="username" formControlName="username"
        placeholder="username">
      <label for="username" class="form-label">User Name</label>

      <div class="alert" *ngIf="data.controls['username'].hasError('required') && data.controls['username'].touched">
        User Name required
      </div>

    </div>

    <div class="form-floating mb-3">
      <input type="email" class="form-control" name="email" id="email" formControlName="email" placeholder="email">
      <label for="email" class="form-label">Email</label>

      <div class="alert" *ngIf="data.controls['email'].hasError('required') && data.controls['email'].touched">
        Email required
      </div>
    </div>

    <div class="input-group  form-floating mb-3">
      <input [type]="showpassword ? 'text' : 'password'"  class="form-control" name="password" id="password" formControlName="password"
        placeholder="password" autocomplete="on">
      <p></p>
      <label for="password" class="form-label">Password</label>

      <span class="input-group-text" id="password">
        <i class="far"
        [ngClass]="{'fa-eye-slash': !showpassword, 'fa-eye':showpassword}" (click)="show()" ></i>
      </span>

      <!--<input (click)="show()" type="checkbox" class="form-check-input"> Show Password-->





      <div class="alert" *ngIf="data.controls['password'].hasError('required') && data.controls['password'].touched">
        Password required

      </div>
    </div>



    <div class="input-group form-floating mb-3">
      <input [type]="confirmpassword ? 'text' : 'password'" class="form-control" name="cpassword" id="cpassword" formControlName="cpassword"
        placeholder="cpassword" autocomplete="on">
      <label for="cpassword" class="form-label">Confirm Password</label>

     <span class="input-group-text" id="cpassword">
       <i class="far"
       [ngClass]="{'fa-eye-slash': !confirmpassword, 'fa-eye':confirmpassword}" (click)="show1()"></i>
     </span>

      <div class="alert" *ngIf="data.controls['cpassword'].hasError('required') && data.controls['cpassword'].touched">
        Confirm Password
      </div>
    </div>

    <div class="alert alert-warning" *ngIf="data.controls['password'].value != data.controls['cpassword'].value">Not
        Matching</div>

    <div class="text-center mb-3">
      <button (click)="display()" [disabled]="data.invalid" type="button" class="btn btn-lg btn-success">Create
        Account</button>
    </div>

  </form>

</div>
