<div class="jumbotron bg-dark text-white text-center">

  <button (click)="title()" type="button" class="btn">Home</button>

  <button (click)="signin()" type="button" class="btn">Sign in</button>

  <button (click)="signup()" type="button" class="btn">Sign up</button>

  <!--<button (click)="data()" type="button" class="btn">Data</button>-->

  <!--<a routerLink="/title" routerLinkActive="active" >Home</a>
<a routerLink="/forms">Sign in</a>
<a routerLink="/sign-up">Sign up</a>
<a routerLink="/data">Data</a>-->


</div>
<br>
<br>


<router-outlet></router-outlet>
