<div class="container">
  <h2 class="display-5 text-center mb-4">User Data</h2>

  <p class="text-end"><a href="http://localhost:4200/title">Sign out</a></p>

  <table class="table table-hover table-bordered">
    <thead class="bg-light text-secondary text-center">
      <tr>
        <th>Id</th>
        <th>User Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>Confirm Password</th>
        <th>Lcation</th>
      </tr>
    </thead>

    <tbody *ngFor="let info1 of info" class="text-center">
      <tr>
        <td>{{info1.id}}</td>
        <td>{{info1.username}}</td>
        <td>{{info1.email}}</td>
        <td>{{info1.password}}</td>
        <td>{{info1.confirm}}</td>
        <td><button (click)="onSelect(info1)" type="button" class="btn"
            style="text-decoration: underline;color:blue">Click</button></td>
      </tr>
    </tbody>
  </table>
</div>
